.navbar{
    background-color: #F2BD80;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    padding: 4px;

    
    > nav{
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .btn{
        background-color: var(--white-brown);
        padding: 8px 16px;
        border-radius: 4px;
        font-size: 24px;
        
        
        text-decoration: none;
        color: var(--black)

    }
}
